<h1 class="m-4">Slug & Jiggers Apothecary</h1>

<div *ngIf="potions" class="row card-group">
  <div class="col-4" *ngFor="let potion of potions">
    <div class="card m-3">
      <img class="card-img-top" src="{{potion.img}}" alt="Potion">
      <div class="card-body">
        <h5 class="card-header">{{potion.name}}</h5>
        <p class="card-title">{{potion.price}}</p>
        <div>
          <label>Quantity: </label>
          <input type="number" [(ngModel)]="potion.quantity"></div>
        <button (click)="addToCart(potion)" class="btn btn-primary">Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
